
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');



html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal overflow */
  background-color: black; /* Set the background color to black */
  color: white; /* Set text color to white for better contrast */
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.multicolor-text {
	font-size: 3.5em; /* Adjust as needed */
	background: linear-gradient(45deg, rgb(111, 0, 255), rgb(255, 0, 144), rgb(128, 0, 255), rgb(255, 0, 144), indigo, violet);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: rainbowBackground 3s infinite;
  }

  .multicolor-text-small {
    font-size: 1.5em; /* Adjust as needed */
    background: linear-gradient(45deg, rgb(111, 0, 255), rgb(255, 0, 144), rgb(128, 0, 255), rgb(255, 0, 144), indigo, violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: rainbowBackground 3s infinite;
    }

  @keyframes rainbowBackground {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
    }

    .button-feedback {
      text-decoration: none;
      padding: 5px 10px; /* Adjust padding for a smaller button */
      border: 2px solid #fff;
      color: #fff;
      background-color: #333;
      border-radius: 25px; /* Round the button corners */
      transition: all 0.3s ease;
      position: relative;
      z-index: 1; /* Ensure the button is above the glowing effect */
      font-size: 0.875em; /* Smaller font size */
      font-weight: bold;
    }
    
    .button:hover {
    background-color: #555;
    }

    .glowing-border-feedback:before {
      content: '';
      position: absolute;
      top: -5px;
      left: -5px;
      right: -5px;
      bottom: -5px;
      background: linear-gradient(90deg, rgb(111, 81, 104), violet);
      background-size: 400% 400%;
      z-index: -1;
      filter: blur(2px);
      animation: glowing 20s linear infinite;
      border-radius: 30px; /* Round the glow effect */
      }

      @keyframes glowing {
        0% {
          background-position: 0% 50%;
        }
        50% {
          background-position: 100% 50%;
        }
        100% {
          background-position: 0% 50%;
        }
        }

        .button {
          text-decoration: none;
          padding: 10px 20px;
          border: 2px solid #fff;
          color: #fff;
          background-color: #333;
          border-radius: 25px; /* Round the button corners */
          transition: all 0.3s ease;
          position: relative;
          z-index: 1; /* Ensure the button is above the glowing effect */
          font-size: 1em;
          font-weight: bold;
          }

          .glowing-border {
            position: relative;
            }
            
            .glowing-border:before {
            content: '';
            position: absolute;
            top: -5px;
            left: -5px;
            right: -5px;
            bottom: -5px;
            background: linear-gradient(90deg, rgb(196, 164, 132), violet);
            background-size: 400% 400%;
            z-index: -1;
            filter: blur(5px);
            animation: glowing 20s linear infinite;
            border-radius: 30px; 
            }
            .professional-text-title {
              font-family: 'Montserrat', sans-serif;
              font-weight: 700;
              font-size: 4.0rem;
              color: #333;
              background: linear-gradient(45deg, rgb(189, 113, 37), violet, violet, violet);
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
              animation: rainbowBackground 3s infinite;
            }

            .professional-text-subtitle {
              font-family: 'Poppins', sans-serif;
              font-weight: 300;
              font-size: 2rem;
              color: white;
            }

            